.carousel-item img{
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-inner img{
    height: 93vh;
}

#scrollbtn{
  border-radius: 50%;
  margin-left: 45%;
}

#upbtn{
  margin-top: -26px;
}