.carousel-item img{
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-inner img{
    height: 93vh;
}

.gc{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}